*{
    padding: 0;
}

.signup{
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 252, 252);
    gap:0;
    width: 100%;
    height:100%;
    /* font-size: 20px; */
    border-radius: 20px;
    /* align-items: center; */
    justify-content: space-between;


}



.header{
    font-size: 30px;
    /* font-family: Poppins; */
    /* margin-top:100px; */

}

.form {
    width: 40%;
    margin-left: 300px;
    padding-top: 150px;

}

.form-inputs {
    width: 80%;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
    color: #aaa; 
  }

input {
    padding: 10px; 
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #dcd7d7ee;
    outline: none;
    box-shadow: none; 
}


button {
    margin-top: 10px; 
    width: 30%;
    color:white;
    font-size: 17px;
    background-color: #3A5B22;
    border: none;
    border-radius: 10px;
    height:40px;
    width: 400px;
    margin-left: 80px;
}

.people-image {
    width:45%;
    height: 100%;
    /* padding-right: 0%; */
}

.link{
    margin-left: 180px;
}
